# ignore the script which should be retrieved from public github repository
helperScript/amplicon_sorter.py

# ignore the sif container which should be build by singularity
sif/amplicon_sorter_v2.sif

# ignore test script
helperScript/testContainer.sh
version.ipynb

# ignore test samplesheet
samplesheet/*.csv

# ignore run directory
run/

# ignore local Nextflow execution log
nextflow.log
.nextflow.log
.nextflow.log.*

# ignore Nextflow runtime cache/work state
.nextflow/